{% extends 'base.html' %}
{% block head_title %}
           {{block.super}} - {{ discussione.titolo }}
{% endblock head_title %}



{% block content %}
    
    
    {% for post in post_discussione  %}

        <h1>{{ discussione.titolo }}</h1>
        <h2>{{ discussione.data_creazione }}</h2>
        <h3>in: {{ discussione.sezione_appartenenza }}</h3>
        
        <div class="card my-3">
            <div class="card-header">
                <h3>{{ post.autore_post }}</h3>
                <h3>{{ post.data_creazione }}</h3>
                <h3>{{post.contenuto}}</h3>
            </div>
        </div>
    {% endfor %}

    
    {% if request.user.is_authenticated %}

    {% include 'forum/form_risposta.html' %}

    {% else %}
    <div class="alert alert-info" role="alert">
        Per partecipare devi effettuare il  <a href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
    </div>
        
    {% endif %}
        

    
        
{% endblock content %}
    